<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>


    
    
    
    
    
    


<div>

  
    <div>
      <a href="#0.1_">Achadinho Pet&#39;s</a>
      <button type="button">
      <span></span>
      </button>
      <div>
        <div>
          <a href="#0.1_">Animais</a>
          <a href="#0.1_">Sobre</a>
          <a href="#0.1_">Cadastre-se</a>
          <a href="#0.1_">Login</a>
        </div>
      </div>
    </div>
  



<div>
  <div>
    <div>
      <h3>Achadinho Pets</h3>
    </div>
  </div>
  <div>
    <div>
      <img src="https://img.freepik.com/fotos-gratis/retrato-de-grupo-de-filhotes-adoraveis_53876-64778.jpg?size=626&amp;ext=jpg&amp;ga=GA1.2.1538381143.1614723433" alt="dogs">
    </div>
  </div>
</div>
<div> 
<div>
  <div>
    <div>
      <label><strong>Usuario:</strong></label>
      <input type="text">
    </div>
     <div>
      <label><strong>Senha:</strong></label>
      <input type="text">
    </div>
</div>
      <div>
        <div>
          <div>
      <button type="button">Entrar</button>
      <p>Não tem cadastro? <a href="#0.1_">Cadastre-se</a></p>
          </div>
        </div>
      </div>    
</div>
</div> 



      

  <div>Junte-se ao time dos Heróis pelos Animais</div>

</div>
</body></html>