<%- include('./partials/navpets')%>

    <h1>Animais</h1>
    <hr>
    <p>Welcome to incluir animais</p>

    <p>Ola!,

    </p>
    <a href="../animais/cadastroanimais">Cadastrar Animal perdido</a>

    </body>

    </html>