<%- include('./partials/navpets')%>
    <p>O
        <%= nome %> foi cadastrado com sucesso! </p>

    <p>Com certeza o seu será encontrado logo! :)</p>

    <p>Se precisar de ajuda nos contate novamente!</p>



    </body>

    </html>