<!DOCTYPE html>
<html>

<head>
    <title>Estudantes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>Estudantes</h1>
    <br>
    <p>Pag estudantes</p>
    <hr>


    <ul>
        <%
            let estudantes = [{nome: 'marcelo' , curso: 'DHFULL' , email: 'mmmm@mmmm'},{nome: 'emile' , curso: 'DHFULL' , email: 'mmffffmm@mmmm'},{nome: 'pedro' , curso: 'DHFULL' , email: 'mmmm@mmddmm'}]

        %>

            <% for(let estudante of estudantes) { %>
                <li>
                    <%= estudante.nome %>
                </li>
                <% } %>

    </ul>
</body>

</html>