<%- include('./partials/navpets')%>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <h3>Achadinho Pets</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <img src="https://img.freepik.com/fotos-gratis/retrato-de-grupo-de-filhotes-adoraveis_53876-64778.jpg?size=626&ext=jpg&ga=GA1.2.1538381143.1614723433" class="img-fluid" alt="dogs">

                </div>

                <div class="col-md-4">

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, dolor consectetur, dolorem dicta ipsum tenetur explicabo ratione delectus minus ea eaque inventore unde maiores veniam corrupti quidem, magnam debitis minima!</p>

                </div>

            </div>

        </div>
        <br><br><br><br>

        <div class="container">
            <div class="row">
                <% for(let index=0 ; index<animais.length ; index++) { %>

                    <div class="card col-lg-3 col-md-3 col-sm-6">
                        <img src=<%=animais[index].imagem %> class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= animais[index].titulo %>
                            </h5> <input type="checkbox" name="gato" id="">
                            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->-->
                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                    </div>
                    <% } %>


            </div>
        </div>





        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="./js/bootstrap.min.js"></script>
    </main>
    <br><br>

    <div class="card">
        <h5 class="card-header">Featured</h5>
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    </body>

    </html>