<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>

<head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>

    <div>



        <br><br><br><br>
        <div>
            <button type="button">Animais</button>
            <button type="button">Sobre</button>
            <button type="button" disabled>Home</button>
            <button type="button">Login</button>
        </div> <br><br><br><br><br><br><br>



        <form target="_blank" onsubmit="try {return window.confirm(&quot;Este formulário talvez não funcione corretamente devido a certas restrições de segurança.\nQuer continuar?&quot;);} catch (e) {return false;}">
            <div>
                <div>
                    <label>Nome</label>
                    <input type="text">
                </div> <br>

                <div>
                    <label>Endereço de email</label>
                    <input type="email">
                    <small>Nunca vamos compartilhar seu email, com ninguém.</small>
                </div><br>

                <div>
                    <label>Senha</label>
                    <input type="password" name="senha">
                </div><br>

                <div>
                    <label>Confirma Senha</label>
                    <input type="password" name="senha2">
                </div><br>


                <div>
                    <input type="checkbox">
                    <label>Aceito os termos</label>
                </div>

                <button type="submit">Enviar</button>
            </div>
        </form>








    </div>
</body>

</html>