<%- include('../partials/navpets')%>
    <h1>Animais</h1>

    <ul>
        <% perdidos.forEach(animal => { %>

            <li>
                <%= animal.nome %>
                    <form action="/animais/deletar/<%= animal.id %>?_method=DELETE" method="POST">
                        <button type="submit">Deletar</button>
                    </form>
            </li>
            <% }) %>
    </ul>

    </body>

    </html>