<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Registro de usuário</h1>

    <form action="" method="POST" name="loginusu" id="">
        <label for="email">e-mail</label><br>
        <input type="email" name="email" id=""><br><br>
        <label for="senha">Senha</label><br>
        <input type="password" name="senha" required>
        <p></p>
        <button type="submit">Logar</button>

    </form>


</body>

</html>