<%- include('../partials/navpets')%>
    <h1>Acesse sua pagina!</h1>


    <div>
        <div>
            <div>
                <h3>Achadinho Pets</h3>
            </div>
        </div>
        <div>
            <div>
                <img src="https://img.freepik.com/fotos-gratis/retrato-de-grupo-de-filhotes-adoraveis_53876-64778.jpg?size=626&amp;ext=jpg&amp;ga=GA1.2.1538381143.1614723433" alt="dogs">
            </div>
        </div>
    </div>
    <form action="" method="POST" name="loginusu" id="">
        <label for="email">e-mail</label><br>
        <input type="email" name="email" id=""><br><br>
        <label for="senha">Senha</label><br>
        <input type="password" name="senha" required>
        <p></p>
        <button type="submit">Logar</button>

    </form>


    <div>Junte-se ao time dos Heróis pelos Animais</div>


    </body>

    </html>